.bookmarks-page-wrapper {
  height: 100%;
}

.bookmarks-page {
  lost-utility: clearfix;
  height: 100%;
}

.menu-container {
  lost-column: 1/2;
  background-color: gray;
  height: 100%;

}

.bookmarks-container {
  height: 100%;
}

