.bookmarks-page-wrapper {
  height: 100%;
}

.bookmarks-page {
  height: 100%;
  display: flex;
}

.menu-container {
  width:260px;
  background-color: gray;
  height: 100%;

}

.bookmarks-container {
  width:calc(100% - 260px);
  height: 100%;
}

.bookmarks-wrapper {
  height: 100%;
}