@import "../../style/variables.css";

.bookmark-container {
  .bookmark-link {
    clear: both;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 15px 50px -30px rgba(0, 0, 0, .75);
    object-fit: cover;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin-bottom: 1.5vh;
    transition: filter 0.4s easeOutSine;

    .bookmark-text {
      max-width: 50%;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 50px;
      margin-left: 25px;
      margin-bottom: 1vh;
      font-size: 3.7vh;

      .bookmark-link-text {
        font-size: 0.55em;
      }
    }

    .bookmark-image-wrapper {
      background-size: cover;
      background: no-repeat top left;
      max-width: 70%;
      flex-grow: 1;
      flex-shrink: 2;
      border-bottom-right-radius: 9px;
      transition: 0.7s easeOutQuad;
    }

    &:hover {
      .bookmark-image-wrapper {
        transform: scale(1.02);
      }
    }
  }

  .delete-icon-wrapper{
    height: 0;
    width: 0;
    position: relative;
    bottom: 5px;
    left: 5px;
    z-index: 100;
    float: right;
    margin-right: 20px;

    .delete-icon{
      box-shadow: rgba(0, 0, 0, 0.75) 0 1px 1px 0;
      opacity: 0;
      background-color: #e53935;
      border-radius: 100%;
      transition: opacity 0.2s;
      cursor: pointer;
      height: 20px;
      width: 20px;
      text-align: center;

      i{
        color: white;
        font-size: 15px;
        margin-top: 2px;
      }

      &:hover{
        background-color: #b71c1c;
        opacity: 1;
      }

      &:active{
        background-color: #841616;
      }
    }
  }

  &:hover{
    .delete-icon {
      opacity: 0.9;
    }
  }
}
