.input{
  background-color: #ededed;
  outline: none;
  border: none;
  border-radius: 7px;
  font-size: 2vh;
  padding: 7px 10px;
  display: inline-block;
  width: 300px;
  box-shadow: none;
  z-index: 10;
  position: relative;
}