@import "../../style/variables.css";
@import "../../style/mixins.css";

.bookmarks-page-wrapper {
  background-color: rgb(27, 27, 27);
  height: 100%;

  .bookmarks-page {
    min-width: 1000px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;

    .menu-container {
      color: white;
      width: 260px;
      height: 100%;
      background-color: rgb(27, 27, 27);
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      padding: 45px 0 20px 20px;

      .back-icon{
        color: white;
        font-size: 30px;
        margin-bottom: 45px;
        cursor: pointer;
      }
    }

    .bookmarks-container {
      background-color: rgb(27, 27, 27);
      width: calc(100% - $menuWidth);
      height: 100%;
      padding: 3.97vh 25px 3.97vh;
      overflow-y: auto;
      overflow-x: hidden;

      .bookmarks-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .collection-title {
          color: white;
          white-space: nowrap;
          overflow: hidden;
          margin-right: 30px;
          font-size: 5.96vh;
          margin-bottom: 1.98vh;
          margin-top: 0;
          padding: 0;
          display: inline-block;
          float: left;
        }
      }

      .nothing-found {
        color: white;
        font-size: 3vh;
      }

      .no-content {
        color: white;
        width: 21vh;
        height: 4vh;
        font-size: 3vh;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -260px;
        margin: auto;
      }
    }
  }

  .enter {
    opacity: 0.5;
  }
  .enter.enterActive {
    transition: 0.3s;
    opacity: 1;
  }
  .leave {
    opacity: 0.5;
  }
  .leave.leaveActive {
    transition: 0.3s;
    height: 0 !important;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
  .appear {
    position: relative;
    left: 50px;
  }
  .appear.appearActive {
    position: relative;
    opacity: 1;
    left: 0;
    transition: 0.5s easeOutCubic;
  }
}

